<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  <style>
    @import "compass/css3";
 @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
 @import "compass/reset";
 * {
	 box-sizing: border-box;
}
 body {
	 color: #333;
	 -webkit-font-smoothing: antialiased;
	 font-family: 'Droid Serif', serif;
}
 img {
	 max-width: 100%;
}
 .cf:before, .cf:after {
	 content: " ";
	 display: table;
}
 .cf:after {
	 clear: both;
}
 .cf {
	 *zoom: 1;
}
 .wrap {
	 width: 75%;
	 max-width: 960px;
	 margin: 0 auto;
	 padding: 5% 0;
	 margin-bottom: 5em;
}
 .projTitle {
	 font-family: 'Montserrat', sans-serif;
	 font-weight: bold;
	 text-align: center;
	 font-size: 2em;
	 padding: 1em 0;
	 border-bottom: 1px solid #dadada;
	 letter-spacing: 3px;
	 text-transform: uppercase;
}
 .projTitle span {
	 font-family: 'Droid Serif', serif;
	 font-weight: normal;
	 font-style: italic;
	 text-transform: lowercase;
	 color: #777;
}
 .heading {
	 padding: 1em 0;
	 border-bottom: 1px solid #d0d0d0;
}
 .heading h1 {
	 font-family: 'Droid Serif', serif;
	 font-size: 2em;
	 float: left;
}
 .heading a.continue:link, .heading a.continue:visited {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 letter-spacing: -0.015em;
	 font-size: 0.75em;
	 padding: 1em;
	 color: #fff;
	 background: #82ca9c;
	 font-weight: bold;
	 border-radius: 50px;
	 float: right;
	 text-align: right;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
 .heading a.continue:after {
	 content: "\276f";
	 padding: 0.5em;
	 position: relative;
	 right: 0;
	 -webkit-transition: all 0.15s linear;
	 -moz-transition: all 0.15s linear;
	 -ms-transition: all 0.15s linear;
	 -o-transition: all 0.15s linear;
	 transition: all 0.15s linear;
}
 .heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
	 background: #f69679;
}
 .heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
	 right: -10px;
}
 .tableHead {
	 display: table;
	 width: 100%;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 0.75em;
}
 .tableHead li {
	 display: table-cell;
	 padding: 1em 0;
	 text-align: center;
}
 .tableHead li.prodHeader {
	 text-align: left;
}
 .cart {
	 padding: 1em 0;
}
 .cart .items {
	 display: block;
	 width: 100%;
	 vertical-align: middle;
	 padding: 1.0em;
	 border-bottom: 1px solid #fafafa;
}
 .cart .items.even {
	 background: #fafafa;
}
 .cart .items .infoWrap {
	 display: table;
	 width: 100%;
}
 .cart .items .cartSection {
	 display: table-cell;
	 vertical-align: middle;
}
 .cart .items .cartSection .itemNumber {
	 font-size: 0.75em;
	 color: #777;
	 margin-bottom: 0.3em;
}
 .cart .items .cartSection h3 {
	 font-size: 1em;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: bold;
	 text-transform: uppercase;
	 letter-spacing: 0.025em;
}
 .cart .items .cartSection p {
	 display: inline-block;
	 font-size: 0.85em;
	 color: #777;
	 font-family: 'Montserrat', sans-serif;
}
 .cart .items .cartSection p .quantity {
	 font-weight: bold;
	 color: #333;
}
 .cart .items .cartSection p.stockStatus {
	 color: #82ca9c;
	 font-weight: bold;
	 padding: 0.5em 0 0 1em;
	 text-transform: uppercase;
}
 .cart .items .cartSection p.stockStatus.out {
	 color: #f69679;
}
 .cart .items .cartSection .itemImg {
	 width: 4em;
	 float: left;
}
 .cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
	 text-align: center;
}
 .cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
	 font-weight: bold;
	 font-size: 1.25em;
}
 .cart .items .cartSection input.qty {
	 width: 2em;
	 text-align: center;
	 font-size: 1em;
	 padding: 0.25em;
	 margin: 1em 0.5em 0 0;
}
 .cart .items .cartSection .itemImg {
	 width: 8em;
	 display: inline;
	 padding-right: 1em;
}
 .special {
	 display: block;
	 font-family: 'Montserrat', sans-serif;
}
 .special .specialContent {
	 padding: 1em 1em 0;
	 display: block;
	 margin-top: 0.5em;
	 border-top: 1px solid #dadada;
}
 .special .specialContent:before {
	 content: "\21b3";
	 font-size: 1.5em;
	 margin-right: 1em;
	 color: #6f6f6f;
	 font-family: helvetica, arial, sans-serif;
}
 a.remove {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 color: #fff;
	 font-weight: bold;
	 background: #e0e0e0;
	 padding: 0.5em;
	 font-size: 0.75em;
	 display: inline-block;
	 border-radius: 100%;
	 line-height: 0.85;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
 a.remove:hover {
	 background: #f30;
}
 .promoCode {
	 border: 2px solid #efefef;
	 float: left;
	 width: 35%;
	 padding: 2%;
}
 .promoCode label {
	 display: block;
	 width: 100%;
	 font-style: italic;
	 font-size: 1.15em;
	 margin-bottom: 0.5em;
	 letter-spacing: -0.025em;
}
 .promoCode input {
	 width: 85%;
	 font-size: 1em;
	 padding: 0.5em;
	 float: left;
	 border: 1px solid #dadada;
}
 .promoCode input:active, .promoCode input:focus {
	 outline: 0;
}
 .promoCode a.btn {
	 float: left;
	 width: 15%;
	 padding: 0.75em 0;
	 border-radius: 0 1em 1em 0;
	 text-align: center;
	 border: 1px solid #82ca9c;
}
 .promoCode a.btn:hover {
	 border: 1px solid #f69679;
	 background: #f69679;
}
 .btn:link, .btn:visited {
	 text-decoration: none;
	 font-family: 'Montserrat', sans-serif;
	 letter-spacing: -0.015em;
	 font-size: 1em;
	 padding: 1em 3em;
	 color: #fff;
	 background: #82ca9c;
	 font-weight: bold;
	 border-radius: 50px;
	 float: right;
	 text-align: right;
	 -webkit-transition: all 0.25s linear;
	 -moz-transition: all 0.25s linear;
	 -ms-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
	 transition: all 0.25s linear;
}
 .btn:after {
	 content: "\276f";
	 padding: 0.5em;
	 position: relative;
	 right: 0;
	 -webkit-transition: all 0.15s linear;
	 -moz-transition: all 0.15s linear;
	 -ms-transition: all 0.15s linear;
	 -o-transition: all 0.15s linear;
	 transition: all 0.15s linear;
}
 .btn:hover, .btn:focus, .btn:active {
	 background: #f69679;
}
 .btn:hover:after, .btn:focus:after, .btn:active:after {
	 right: -10px;
}
 .promoCode .btn {
	 font-size: 0.85em;
	 paddding: 0.5em 2em;
}
/* TOTAL AND CHECKOUT */
 .subtotal {
	 float: right;
	 width: 35%;
}
 .subtotal .totalRow {
	 padding: 0.5em;
	 text-align: left;
}
 .subtotal .totalRow.final {
	 font-size: 1.25em;
	 font-weight: bold;
}
 .subtotal .totalRow span {
	 display: inline-block;
	 padding: 0 0 0 1em;
	 text-align: left;
   
}
 .subtotal .totalRow .label {
	 font-family: 'Montserrat', sans-serif;
	 font-size: 0.85em;
	 text-transform: uppercase;
	 color: #777;
   text-align: left;
}
 .subtotal .totalRow .value {
	 letter-spacing: -0.025em;
	 width: 35%;
   text-align: right;
}
 @media only screen and (max-width: 39.375em) {
	 .wrap {
		 width: 98%;
		 padding: 2% 0;
	}
	 .projTitle {
		 font-size: 1.5em;
		 padding: 10% 5%;
	}
	 .heading {
		 padding: 1em;
		 font-size: 90%;
	}
	 .cart .items .cartSection {
		 width: 90%;
		 display: block;
		 float: left;
	}
	 .cart .items .cartSection.qtyWrap {
		 width: 10%;
		 text-align: center;
		 padding: 0.5em 0;
		 float: right;
	}
	 .cart .items .cartSection.qtyWrap:before {
		 content: "QTY";
		 display: block;
		 font-family: 'Montserrat', sans-serif;
		 padding: 0.25em;
		 font-size: 0.75em;
	}
	 .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
		 display: none;
	}
	 .cart .items .cartSection .itemImg {
		 width: 25%;
	}
	 .promoCode, .subtotal {
		 width: 100%;
	}
	 a.btn.continue {
		 width: 100%;
		 text-align: center;
	}
}
 
  </style>
  <body class="h-100" onload="createTable()">
    
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="/" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">SISMS </span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <i class="material-icons">add_to_queue
                  </i>
                  <span>Inventory</span>
                </a>
              </li>
              
           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">reorder
                    </i>
                    <span>Manage Inventory</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    
               
                  <a class="dropdown-item text-danger" href="/inventorylist">
                    <i class="material-icons text-danger">view_comfy</i><span> Inventory List</span></a>
                    <a class="dropdown-item text-danger" href="/inventoryalert">
                      <i class="material-icons text-danger">message</i><span> Inventory Alerts</span></a>
                 
                    </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">show_chart
                    </i>
                    <span>Stastics &amp; Reports</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    
               
                  <a class="dropdown-item text-danger" href="/report">
                    <i class="material-icons text-danger">share
                    </i><span> Show Reports</span> </a>
					
				   
                    </div>
              </li>
          
             
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
               
                  <input class="navbar-search form-control" type="text"  aria-label="Search"> </div>
              
                </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-icon__wrapper">
                      <i class="material-icons">&#xE7F4;</i>
                      <span class="badge badge-pill badge-danger">2</span>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE6E1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Analytics</span>
                        <p>No of transaction
                          <span class="text-info text-semibold">280</span></p>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE8D1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Sales</span>
                        <p>To day Sale
                          <span class="text-info text-semibold">5000</span></p>
                      </div>
                    </a>
                    <a class="dropdown-item notification__all text-center" href="/report"> View all Notifications </a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block"><%= user.username %></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="user-profile-lite.html">
                      <i class="material-icons">&#xE7FD;</i> Profile</a>
                 
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">Inventory</h3>
              </div>
            </div>
            <div class="alert alert-dismissible fade show col-sm-12" role="alert" id="success" style="display:none;">
              <p id="successmsg"></p>
              <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <!-- End Page Header -->
            <!-- Small Stats Blocks -->
            <div class="row">
         
                 
             <div class="col-md-4">
              <div class="card">
                <div class= "card-header">
                    <h3>Choose Product</h3>
                </div>
                <div class="card-body">
              
					<% var catlist; %>
                  <% var proid; %>
				  <% var invlst; %>
				  <% if (procategory.length > 0){ %>
					<% catlist = procategory ; %>
					<% procategory.forEach(function(row){ %>
				
					  <% })} else { %>
		
				<%  } %>
				<% if (inventory.length > 0){ %>
					<% invlst = inventory; %>
					<% inventory.forEach(function(row){ %>
				
					  <% })} else { %>
						<% invlst = 0; %>
				<%  } %>
        <div class="form-group" >
          <label for="exampleFormControlInput1">Enter Bar Code</label>
          <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Product Bar Code" onchange="loaddata(this)">
        </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Select Product Name</label>
                      <select class="form-control" id="proname" name="proname" onchange="onproductnameselect(this)">
                        <option value="0">Please Select Product Name</option>
                        <% if (productlist.length > 0){ %>
                          <% proid = productlist ; %>
                          <% productlist.forEach(function(row){ %>
                          
                          
                           
                            <option value='<%= row.productname %>'><%= row.productname %></option>
                        
                            <% })} else { %>
              
                      <%  } %>
                      </select>
                    </div>
  
                    <div class="form-group" style="display: none;">
                      <label for="exampleFormControlInput1">Product ID</label>
                      <input type="hidden" class="form-control" id="proid" name="proid" placeholder="Product ID" disabled>
                    </div>
                      <div class="form-group" style="display: none;">
                      <label for="exampleFormControlInput1">Product Code</label>
                      <input type="text" class="form-control" id="procode" name="procode" placeholder="Product Code" disabled>
                    </div>
					<div class="form-group" style="display: none;">
						<label for="exampleFormControlInput1">Product Category</label>
						<input type="text" class="form-control" id="procat" name="procat" placeholder="Product Category"  disabled>
					  </div>
                    <script>
                      function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
          
             return false;

          return true;
       }
       function isJson(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}    


function loaddata() {
var procode =  document.getElementById('barcode').value;
 barcodereader(procode);
}

function barcodereader(selectObject) {
  var value = selectObject; 
  console.log(value);
  var s = document.getElementById('shelveno');
  s.removeAttribute("disabled");
  document.getElementById('shelveno').value="";
    var inventory ;
    var cat;
    let nameobj= '<%- JSON.stringify(proid) %>';  
    let catid= '<%- JSON.stringify(catlist) %>';  

    if (isJson('<%- JSON.stringify(invlst) %>')){
  let inventoryobj= '<%- JSON.stringify(invlst) %>'; 
   inventory =  JSON.parse(inventoryobj);
}else{
    //report the error
     inventory = 0 ; 
}

   let name =  JSON.parse(nameobj);
   cat =  JSON.parse(catid);
if(name.length > 0)
{
for(var i = 0; i < name.length; i++)
{
var productcode  = name[i].productcode;

if(productcode === value)
{

var id = name[i].proid;
var price = name[i].price;
var proname = name[i].productname;
var procode = name[i].productcode;
var productcategory = name[i].productcategory;
 document.getElementById('proid').value = id;
 document.getElementById('price').value = price;
 document.getElementById('proname').value = proname;
 document.getElementById('procode').value = procode;
 document.getElementById('procat').value = productcategory;
}


}


if(inventory == 0)
{

  document.getElementById('currqty').value = 0;
}
else{
  for(var i = 0; i < inventory.length; i++)
{
var productcode  = inventory[i].productcode;
if(productcode === value)
{

  var shelveno = inventory[i].shelfno;
var quantity = inventory[i].quantity;
 document.getElementById('currqty').value = quantity;
 if ( !shelveno)
 {
 
   document.getElementById('shelveno').value = "";
 }
 else{
   var s = document.getElementById('shelveno');
   s.setAttribute('disabled',true);
  document.getElementById('shelveno').value = shelveno;

 }
}
else{
  document.getElementById('currqty').value = 0;
}
//alert(name[i].productname);
}
}

}


}
     




                      function onproductnameselect(selectObject) {
                     
    var value = selectObject.value; 
    var s = document.getElementById('shelveno');
  s.removeAttribute("disabled");
  document.getElementById('shelveno').value="";
    var inventory ;
    let nameobj= '<%- JSON.stringify(proid) %>';  
    let catid= '<%- JSON.stringify(catlist) %>';  
    if (isJson('<%- JSON.stringify(invlst) %>')){
  let inventoryobj= '<%- JSON.stringify(invlst) %>'; 
   inventory =  JSON.parse(inventoryobj);
}else{
    //report the error
     inventory = 0 ; 
}

   let name =  JSON.parse(nameobj);
   let cat =  JSON.parse(catid);
    if(name.length > 0)
    {
      for(var i = 0; i < name.length; i++)
{
	var proid  = name[i].proid;
	var procatid  = name[i].productcategory;
  var proname  = name[i].productname;
  if(proname === value)
       {
    
       var id = name[i].proid;
        var price = name[i].price;
         var procode = name[i].productcode;
           document.getElementById('proid').value = id;
           document.getElementById('price').value = price;
            document.getElementById('procode').value = procode;

		   for(var i = 0; i < cat.length; i++)
{
  var category  = cat[i].catid;
  if(category === procatid)
       {
        var categoryname = cat[i].procategoryname;
       
           document.getElementById('procat').value = categoryname;
      
      }
     
   
}


      }
   
}


if(inventory == 0)
{
  document.getElementById('currqty').value = 0;
}
else{
  for(var i = 0; i < inventory.length; i++)
{
var proname  = inventory[i].productname;
if(proname === value)
{
  var shelveno = inventory[i].shelfno;
var quantity = inventory[i].quantity;
 document.getElementById('currqty').value = quantity;
 if ( !shelveno)
 {
 
   document.getElementById('shelveno').value = "";
 }
 else{
   var s = document.getElementById('shelveno');
   s.setAttribute('disabled',true);
  document.getElementById('shelveno').value = shelveno;

 }
 
}
else{
  document.getElementById('currqty').value = 0;
}
//alert(name[i].productname);
}
}
     }
  
  
  }
                  
                  
                  </script>
                     <div class="form-group">
                      <label for="exampleFormControlInput1">Selling Price</label>
                      <input type="text" class="form-control" id="price" name="price" placeholder="Selling Price" disabled>
                    </div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Current Quanity</label>
						<input type="text" class="form-control" id="currqty" name="currqty" placeholder="Current Quantity" disabled >
					  </div>
           
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-white" type="button">Shelve Number</button>
                </div>
                <input type="text" class="form-control" id="shelveno" name="shelveno" placeholder="Insert Shelf No"  >
         
              </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-white" type="button">Buying Price</button>
              </div>
              <input type="text" class="form-control" id="bprice" name="bprice" placeholder="Enter Buying Price" onkeypress="return isNumberKey(event)">
				
            </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-white" type="button">New Quantity To Add</button>
                      </div>
                      <input type="text" class="form-control" id="qty" name="qty" placeholder="Enter Quantity" onkeypress="return isNumberKey(event)" >
       
                    </div>
			
                  
       <input type="button" class="btn btn-lg btn-block btn-primary" id="addRow" value="Add" onclick="addRow()">
                  
                </div>
            </div>
             </div>
             <div class="card col-md-8">
              <div class="card-body wrap cf">
              
                <div class="heading cf">
             <i class="fab fa-houzz fa-3x" aria-hidden="true" style="color: green;"></i>Inventory Shelves
                </div>
                <div class="cart" id="cont">
          
               
                </div>
                
              
                
                <div class="subtotal">
                  
                
                         
                      
                  <form>
                    <button type="button" class="btn btn-lg btn-block btn-primary" onclick="convertArrayToJSON();" >Save To Inventory</button>
                  </form>
                
           
                </div>
              </div>
             </div>
            </div>
            <!-- End Small Stats Blocks -->
          
           <div class="row">
          
           </div>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.4.0/jquery.json.min.js"></script>
       
           <script>
          
                  
                    function storeTblValues()
                    {
                        var TableData = new Array();
                       
                        $('#empTable tr').each(function (row, tr) {
                         
                          var currentRow=$(this);
                          var col =currentRow.find("td:eq(1)").text();
           if(!col.length )
           {
             
           }
  else{
    var col1_value=currentRow.find("td:eq(1)").text();
    var col2_value=currentRow.find("td:eq(2)").text();
	var col3_value=currentRow.find("td:eq(3)").text();
	var col4_value=currentRow.find("td:eq(4)").text();
    var col5_value=currentRow.find("td:eq(5)").text();
	var col6_value=currentRow.find("td:eq(6)").text();
   	var col7_value=currentRow.find("td:eq(7)").text();
   
     var obj={};
    obj.ProductId=col1_value;
    obj.ProductDescription=col2_value;
    obj.ProductCategory=col3_value;
	obj.BuyingPrice=parseFloat(col4_value);
	obj.ShelveNumber=parseFloat(col5_value);
	obj.NewQuantity=parseFloat(col6_value);
	obj.ProductCode=parseFloat(col7_value);
    TableData.push(obj);
  }

    
                            // TableData[row] = {
                            
                            //     "ProductDescription": $(tr).find('td:eq(1)').text()
                            //     , "UnitPrice": $(tr).find('td:eq(2)').text()
                            //     , "Quanity": $(tr).find('td:eq(3)').text()
                            //     , "Total": $(tr).find('td:eq(4)').text()
                            // }
                        });
                      // first row will be empty - so remove
                      console.log(TableData);
                        return TableData;
                    }
            
                    function convertArrayToJSON()
                    {
                        var TableData;
                       // TableData = $.toJSON(storeTblValues());
                       TableData =  JSON.stringify(storeTblValues());
                      //  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));
            
          //  console.log(TableData);
          $.ajax({
                            type: "POST",
                            url: "/addnewinventorylist",
                            data: "pTableData=" + TableData,    // post TableData to server script
            
                            success: function (data) {
                              if(data.messages == 'success'){ // if true (1)
                                var x = document.getElementById("success");
                                var msg = document.getElementById("successmsg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.className="alert-success";
    msg.innerHTML="You are successfully add new sale data!"
      setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 2000); 

  } else {
    x.style.display = "none";
  }
      // setTimeout(function(){// wait for 5 secs(2)
      //      location.reload(); // then reload the page.(3)
      // }, 1000); 
   }
   else{
    var x = document.getElementById("success");
                                var msg = document.getElementById("successmsg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.className = "alert-danger";
    msg.innerHTML="Something is wrong please try later!"
      setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 2000); 

  } else {
    x.style.display = "none";
  }
   
   } 
                            },
                            error: function (data) {
                                // return value stored in msg variable 
                              console.log(msg);
                            }
                        });
                    }
               
                </script>
         
           <script type="text/javascript">
        
         var arrHead = new Array();	// array for header.
    arrHead = ['', 'Product ID','Description','ProductCategory','BuyingPrice','ShelveNumber', 'NewQuanity','ProductCode'];

    // first create TABLE structure with the headers. 
    function createTable() {
      document.getElementById("barcode").focus();
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable'); // table id.

        var tr = empTable.insertRow(-1);
        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th'); // create table headers
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);  // add the TABLE to the container.
    }
    var subtotal =0;
    // now, add a new to the TABLE.
    function addRow() {
      
                var proqty =document.getElementById('qty').value;
                var curqty =document.getElementById('currqty').value;
                var proname =document.getElementById('proname').value;
                var shelf = document.getElementById('shelveno').value;
                if(!proqty.length )
                {
                  var x = document.getElementById("success");
                                var msg = document.getElementById("successmsg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.className="alert-danger";
    msg.innerHTML="Please enter the right quantity for the product to add."
      setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 2000); 

  } else {
    x.style.display = "none";
  }
                }
        
                else  if(shelf=="" )
                {
                  var x = document.getElementById("success");
                                var msg = document.getElementById("successmsg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.className="alert-danger";
    msg.innerHTML="Please enter shelf number for the inventory to add"
      setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 2000); 

  } else {
    x.style.display = "none";
  }
                }
               
              else if(proname =="0")
                {
                  var x = document.getElementById("success");
                                var msg = document.getElementById("successmsg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.className="alert-danger";
    msg.innerHTML="Please choose product name first!"
      setTimeout(function(){// wait for 5 secs(2)
           location.reload(); // then reload the page.(3)
      }, 2000); 

  } else {
    x.style.display = "none";
  }
                }
           else{
           
        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;   // table row count.
        var tr = empTab.insertRow(rowCnt); // the table row.
      //  tr.setAttribute('class','data');
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td'); // table definition.
            td = tr.insertCell(c);

            if (c == 0) {      // the first column.
                // add a button in every new row in the first column.
                var button = document.createElement('input');

                // set input attributes.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'X');
              
             
                button.style.fontweight="bold";
                button.style.background=" #e0e0e0";
	              button.style.borderRadius="50%";
                button.style.borderWidth="0";
                button.style.display ="inline-block";
               // button.style.backgroundColor ="red";
                button.setAttribute('onmouseover', 'hovers(this)');
                
             button.setAttribute('onmouseout','hoverends(this)')
                // add button's 'onclick' event.
                button.setAttribute('onclick', 'removeRow(this)');

                td.appendChild(button);
            }
        
            else if(c ==1){
                // 2nd, 3rd and 4th column, will have textbox.
                var proid = document.getElementById('proid').value;
              

             var ele = document.createElement('td');
         
                td.style.width= "300px";
                td.innerHTML=proid ;
              //  td.appendChild(ele);
            }
            else if(c==2){
              var proname =document.getElementById('proname').value;
              
              var ele = document.createElement('td');
         
             
                td.style.width= "150px";
                td.innerHTML = proname;
               // td.appendChild(ele);
            }
		      	else if(c==3){
              var procat =document.getElementById('procat').value;
              
              var ele = document.createElement('td');
                          
                td.style.width= "150px";
                td.innerHTML = procat;
               // td.appendChild(ele);
            }
		      	else if(c==4){
              var bprice =document.getElementById('bprice').value;
              
              var ele = document.createElement('td');
       
                td.style.width= "150px";
                td.innerHTML = bprice;
               // td.appendChild(ele);
            }
		      	else if(c==5){
              var shelveno =document.getElementById('shelveno').value;
              
              var ele = document.createElement('td');
            
                td.style.width= "150px";
                td.innerHTML = shelveno;
               // td.appendChild(ele);
            }
            	else if(c==6){
              var proqty =document.getElementById('qty').value;
              
              var ele = document.createElement('td');
            
                td.style.width= "150px";
                td.innerHTML = proqty;
               // td.appendChild(ele);
            }
            else {
            
              var procode =document.getElementById('procode').value;
              
              var ele = document.createElement('td');

                td.innerHTML = procode ;
               // td.appendChild(ele);
            }
            
        }
        document.getElementById('bprice').value ="";
        document.getElementById('qty').value="";
        document.getElementById('proid').value="";
        document.getElementById('proname').value=0;
        document.getElementById('procat').value="";
        document.getElementById('bprice').value="";
        document.getElementById('shelveno').value="";
        document.getElementById('price').value="";
        document.getElementById('currqty').value="";
      }
   
      }





    function hovers(x){
                  x.style.backgroundColor ="red";
                }
   function hoverends(x){
                  x.style.backgroundColor ="#e0e0e0";
                }

    // delete TABLE row function.
    function removeRow(oButton) {
        var empTab = document.getElementById('empTable');
        var rowindex = oButton.parentNode.parentNode.rowIndex;
       
    //    var element= document.getElementById("empTable").rows[rowindex].cells[5];
           
    // var total =    element.innerHTML ;
    //                 parseFloat(total);
    //                  subtotal -=total ;
    //           var vat = subtotal * 0.15;
    //           document.getElementById('subtotal').innerHTML = subtotal;
    //           document.getElementById('vat').innerHTML = vat;
    //           document.getElementById('total').innerHTML = subtotal + vat;
      //           }
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
        
      
    }

    // function to extract and submit table data.
    function submit() {
        var myTab = document.getElementById('empTable');
        var arrValues = new Array();

        // loop through each row of the table.
        for (row = 1; row < myTab.rows.length - 1; row++) {
        	// loop through each cell in a row.
            for (c = 0; c < myTab.rows[row].cells.length; c++) {  
                var element = myTab.rows.item(row).cells[c];
                if (element.childNodes[0].getAttribute('type') == 'text') {
                    arrValues.push("'" + element.childNodes[0].value + "'");
                }
            }
        }
        
        // The final output.
        document.getElementById('output').innerHTML = arrValues;
        //console.log (arrValues);   // you can see the array values in your browsers console window. Thanks :-) 
    }

            </script>
          </div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
       
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2021
              <a href="https://techlinktechnologies.com" rel="nofollow">TechLinkTechnologies</a>
            </span>
          </footer>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="scripts/extras.1.1.0.min.js"></script>
    <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="scripts/app/app-blog-overview.1.1.0.js"></script>
    <script src="scripts/app/parsetable.js"></script>
  </body>
</html>